
:root {
  --primry: #BA8E23;
  --secundary: #8A8275;
  --light:#F2E1B8;
  --c3:#DBAD3D;
  --c4:#DFB756;
  --c5:#E4C26E;
  --c6:#E8CC87;
  --c7:#EDD6A0;
  --c8:#F2E1B8;
  --s1:#A57E1F;
  --s2:#916E1B;
  --s3:#7C5F17;
  --s4:#674F13;
  --s5:#533F10;
  --s6:#3E2F0C;
  --m1:#BA4323;
  --m2:#BA5C23;
  --m3:#BA7523;
  --m4: #BA8E23;
  --m5:#BAA723;
  --m6:#B4BA23;
  --m7:#9ABA23;
  --m8:#81BA23;
  --g:#8A8275;
  --white: white;
  --black: black;
}
h1{
  color:var(--primry)
}
strong{
  color: var(--white);
}
p{
  color: var(--light);
}
a{
  color: var(--white);
  text-decoration: none;
  font-size: 1.1rem;
  transition: all .2s ease-out;
}
a:hover{
  color:var(--light);
  font-size: 1.2rem;
}
.global-container {
  min-height: 100vh;
  width: 100vw;
  background-color: var(--white);
  padding: 0;
  overflow: hidden;
  margin: 0;
}
input{
  background-color: var(--c8);
  border: 2px solid transparent;
  border-radius: 5px;
}
input:hover{
  border: 2px solid white;
}
.input-container{
  margin-top: 5px;
  margin-bottom: 5px;
}
.input-container strong{
 padding-right: 10px;
}


 nav{
  height: 4vh;
  width: 100vw;
  background-color: var(--primry);
  padding: 0;
  margin: 0;
 }

 footer{
  height: 4vh;
  width: 100vw;
  background-color: var(--primry);
 }
 .center{
  display: flex;
  align-items: center;
  justify-content: center;
 }

 .section-container{
  min-height: 92vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .section-2container{
  width: 70vw;
  background-color: black;
  height: 92vh;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 .column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

 .room-container{

  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20,1fr);
  height: 50vw;
  width: 50vw;

 }
 .p0{

  background-color: white;
  grid-column: 1/21;
  grid-row: 1;
 }
 .p1{
  background-color: white;
  grid-column: 20;
  grid-row: 1/21;

 }
 .p2{
  background-color: white;
  grid-column: 1/21;
  grid-row: 20;   
 }
 .p3{
  background-color: white;
  grid-column: 1;
  grid-row: 1/21; 
 }

 .p-container{
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 }

 .p0:hover{
  background-color: var(--white);
 }
 .p1:hover{
  background-color: var(--white);
 }
 .p2:hover{
  background-color: var(--white);
 }
 .p3:hover{
  background-color: var(--white);
 }

 .p0-size{
  grid-column: 2/20;
  grid-row: 2/4; 
 }

 .p1-size{
  grid-column: 18/20;
  grid-row: 2/20;
  writing-mode: vertical-rl;
 }
 .p2-size{
  grid-column: 2/20;
  grid-row: 18/20; 
  
 }
 .p3-size{
  grid-column: 2/4;
  grid-row: 2/20;
  writing-mode: vertical-lr;
 }
 .p4-size{
  grid-column: 2/20;
  grid-row: 9/13;
 }

 .p-active{
  background-color: green;
 }

 .salt-input{
  width: 3rem;
 }
 